body {
  margin: 0%;
  padding: 0%;
}

.chat-section {
  background-color: #202c33;
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 52px;
  justify-content: space-around;
  padding: 5px 10px 5px 17px;
  position: relative;
}

.chat-emoji {
  cursor: click;
  fill: #d1d7db;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}
.chat-emoji-div {
  margin: auto;
  padding: 5px 10px 5px 10px;
}

.chat-text {
  align-items: center;
  background-color: #2a3942;
  border-radius: 10px;
  border: 1px;
  color: #d1d7db;
  cursor: text;
  flex-grow: 1;
  font-size: 15px;
  height: 23px;
  margin: auto 10px auto 10px;
  outline: 0;
  padding: 9px 12px 11px 12px;
}
.chat-text::placeholder {
  color: #8696a0;
  font-size: 1.2rem;
  font-size: 15px;
  opacity: 2px;
  padding: 5px;
}
