:root {
  --color-primary: #fff;
}

body {
  margin: 0%;
  position: relative;
}
.main {
  background-color: #202c33;
  display: flex;
  flex-direction: row;
  float: right;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  justify-content: space-between;
  padding: 10px;
  width: 63vw;
}

.nav-pic {
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  height: 40px;
  margin: 0 15px 0 0;
  width: 40px;
}
.nav-text {
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  text-align: left;
}
.nav-text-heading {
  color: var(--color-primary);
  font-size: 16.5px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 0 5px 0;
}
.nav-text-par {
  color: #b7b6b6;
  font-size: 11px;
  font-size: 13px;
  margin: 0%;
}
.nav-menu {
  cursor: pointer;
  display: flex;
  margin: 0 20px 0 20px;
}
.nav-options {
  color: var(--color-primary);
  height: 18px;
  padding: 9px;
  width: 18px;
}
