.container{
    border: 0.2cm solid blue;
    width: 25cm;
    height: 50cm;
    display: grid;
    grid-template: 4cm auto / repeat(4, 5cm);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    row-gap: 1cm;
    column-gap: 2cm;
}
.box{
    width: 4cm;
    height: 4cm;
    background: orange;
}